.home_bg{
    background-image: url(../assets/mybg.png);
    height: 87.5vh; 
    background-position: center;
    
    background-size: cover;
   
    overflow-x: hidden;
    background-repeat: no-repeat;

}

.home-message-icon{
    margin-left: 10px;
    display: inline-block;
   
}

